*{
	box-sizing: border-box;
}
body{
	background: url(icon/fon.jpg)no-repeat;
	background-size: 100%;
}
.section{
	background-color: #fafafa;
	border-radius: 10px;
	height: 345px;
	width: 337px;
	margin:170px auto 0;
}
.header{
	background-color: #03a9f4;
	color:#fff;
	height: 55px;
	width: 337px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.header__auto{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size:24px;
	position: relative;
	margin: 0;
	padding: 0;
}


.down{
	background-color: #eeeeee;
	height: 50px;
	width: 337px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.input{
	height: 240px;
	width: 337px;
}
.buton__reg{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	position: absolute;
	color:#333;
	font-weight: bold;
	text-decoration: none;
	margin: 14px 14px 20px 64px;
}
.buton__forgot{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	position: absolute;
	color:#898989;
	text-decoration: none;
	margin: 14px 0px 20px 164px;
}
.header__img{
	position: relative;
	margin: 13px 0px 0px 60px;
}
.buton{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 16px;
	text-decoration: none;
	color:#fff;
	padding:12px 115px;
	background-color: #f44336;
	border-radius: 10px;
	margin: 0 31px;
	line-height: 100%;
	transition: background 0.1s linear;
}

.buton:hover{
	background-color: #dd9484;
}

.login{
	margin: 30px 31px;
}

.password{
	margin: 30px 31px;
}

.login__input{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	height:45px; 
	width:274px;
	border-radius: 4px;
	background-image: url("icon/email-icon.png") ;
	background-repeat: no-repeat;
	background-position: right;
}

.password__input{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size:16px;
	height:45px; 
	width:274px;
	border-radius: 4px;
	background-image: url("icon/lock-icon.png");
	background-repeat: no-repeat;
	background-position: right;
}