body{
	background-image: url(https://million-wallpapers.ru/wallpapers/2/88/466175750045631.jpg);
}
.section{
	background-color: #fafafa;
	border-radius: 10px;
	height: 345px;
	width: 337px;
	position: absolute;
	top:150px;
	left:540px;
}
.key{
	background-color: #03a9f4;
	color:#fff;
	height: 55px;
	width: 337px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.tile{
	font-family: 'Montserrat', sans-serif;
	font-size:28px;
	position: relative;
	margin: 0;
	padding: 0;
}
.down{
	background-color: #eeeeee;
	height: 50px;
	width: 337px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.govno{
	height: 240px;
	width: 337px;
}
.ghj{
	position: absolute;
	color:#333;
	font-weight: bold;
	text-decoration: none;
	margin: 14px 14px 20px 64px;
}
.dfg{
	position: absolute;
	color:#898989;
	text-decoration: none;
	margin: 14px 0px 20px 164px;
}
.ihj{
	position: relative;
	margin: 13px 0px 0px 60px;
}
.buton{
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color:#fff;
	padding:12px 115px;
	background-color: #f44336;
	border-radius: 10px;
	transition: background 0.1s linear;
	margin: 31px;
}

.buton:hover{
	background-color: #dd9484;
}

.log{
	margin: 30px 31px;
}

.pass{
	margin: 30px 31px;
}